.rowBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.columnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 6px;
}

h2.header {
  color: black;
  font-size: 36px;
}

.star_rating {
}

.active {
  color: #fff700;
}

.inactive {
  color: #000;
}

.container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.container button {
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}
