.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.profileBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
  text-decoration: none;
}

.profileImg {
  border: 1px solid rgb(113, 45, 170);
  background-color: rgb(113, 45, 170);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
