.rowBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.columnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 10;
  margin: 0;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 60%);
}

.mobileNavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 10;
  margin: 0;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 60%);
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  font-size: medium;
  list-style-type: armenian;
  font-size: x-large;
}

.mobileNavLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px auto;
  margin-top: 60px;
  padding: 10px;
  gap: 30px;
  font-size: medium;
  list-style-type: armenian;
  font-size: x-large;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #1e3d6b;
  font-weight: normal;
  font-size: x-large;
}

.link:active {
  text-decoration: none;
  color: #1e6b4c;
}

.active {
  font-weight: 800;
  color: #1e6b4c;
  text-decoration: underline;
}

.link:hover {
  font-weight: 800;
  color: #1e6b4c;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  width: 70%;
  position: relative;
  margin: 0 auto;
  top: 170px;
}

h2.header {
  color: black;
}

h4.headerSmall {
  font-size: larger;
}

img.headshot {
  width: 45%;
  height: auto;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 30%);
}

.section {
  width: 100%;
  min-height: 100px;
  min-width: 300px;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 30%);
  transition: all 0.5s ease;
  gap: 20px;
  padding: 20px;
}

.sectionDrawer {
  border-top: 2px solid gray;
  width: 80%;
  padding: 40px;
  padding-bottom: 20px;
}

.button {
  border: 2.5px solid gray;
  border-radius: 5px;
  padding: 2px;
  background-color: whitesmoke;
  color: #1e6b4c;
  font-size: large;
}

.button:hover {
  cursor: pointer;
  border: 2.5px solid #1e6b4c;
  font-weight: 800;
}

.button:active {
  background-color: rgba(30, 107, 76, 0.3);
}

.skillList > li {
  margin: 4px;
  color: #1e6b4c;
  margin-left: 20px;
}

.mobileNavMenu {
  width: 180px;
  height: 100vh;
  z-index: 11;
  background-color: whitesmoke;
  position: fixed;
  right: -180px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 30%);
  transition: 0.5s all ease-in-out;
}

.mobileNavMenuActive {
  right: 0px;
}
