.rowBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.columnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 10;
  margin: 0;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 60%);
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  font-size: medium;
  list-style-type: armenian;
  font-size: x-large;
  text-wrap: nowrap;
}

.link {
  text-decoration: none;
  color: #1e3d6b;
  font-weight: normal;
  font-size: x-large;
}

.link:active {
  text-decoration: none;
  color: #1e6b4c;
}

.active {
  font-weight: 800;
  color: #1e6b4c;
  text-decoration: underline;
}

.link:hover {
  font-weight: 800;
  color: #1e6b4c;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  width: 70%;
  height: 400px;
  border: 1px solid red;
  position: relative;
  margin: 0 auto;
  top: 170px;
}
