.button {
  padding: 6px;
  font-size: larger;
  background-color: rgba(256, 256, 256, 0);
  border: none;
  color: white;
  text-wrap: nowrap;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  font-size: larger;
  font-weight: 600;
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.25s;
}

.button:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

.box {
  display: flex;
  align-items: center;
  font-size: larger;
}
